* {
  margin: 0.1cm;
  padding: 0.1cm;
}
body {
  background-color: rgb(255, 255, 255);
}
h1 {
  font-size: 60px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: url(../img/圖片1.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 210px;
  text-indent: -9999px;
  position: absolute;
  left: 80px;
  top: 0;
  line-height: 80px;
}
header {
  height: 80px;
}
header ul {
  color: #000;
  position: absolute;
  right: 70vw;
  top: 0;
  line-height: 80px;
}
ul p {
  font-size: 10cm;
  /* background-color: rgb(255, 255, 255); */
  color: rgb(0, 0, 0);
  text-align: center;
}

a:visited {
  color: rgb(0, 0, 0);
}
a:active {
  color: rgb(126, 123, 123);
}
ul {
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  color: rgb(156, 45, 45);
  font-size: 1px;
  height: 80px;
}
li {
  float: left;
  color: rgb(0, 0, 0);
}
li a:hover {
  background-color: #ffffff;
}
li a {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 1vw;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: #ffffff;
}
div.father {
  background-color: rgb(36, 202, 194);
  display: flex;
}
div.father div.lef {
  background-color: rgb(121, 220, 233);
  width: 50%;
}
div.father div.righ {
  background-color: rgb(203, 247, 255);
  width: 50%;
}
.grid-container {
  display: grid;
  background-color: chocolate;
  grid-template-columns: 33% 33% 33%;
  border: 2px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
  color: rgb(255, 255, 255);
}
.left {
  background-color: rgb(108, 198, 240);
  color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 3ch;
}
.right {
  background-color: rgb(8, 169, 243);
  color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
  color: rgb(255, 255, 255);
}
.center {
  background-color: rgb(34, 138, 235);
  color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
  color: rgb(255, 255, 255);
}
.e {
  background-color: rgb(24, 106, 182);
  color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
  color: rgb(255, 255, 255);
}
.left p {
  font-size: 2ch;
}
.right p {
  font-size: 2ch;
}
.center p {
  font-size: 2ch;
}
.class {
  border: 2px solid rgb(0, 0, 0);
}
